body {
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
}



li {
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 1.2vw;
 color: rgb(80, 168, 240);
 list-style: none;
 
}
button {
    display: flex;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
    height: auto;
}