body{
    background-color: rgb(41, 32, 32);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main h2{
    font-size: x-large;
    color: antiquewhite;
    font-weight: lighter;
    text-shadow: 1px 1px 2px darkgray;
}
ul li{
    font-weight: lighter;
    font-size: 20px;
    color: beige;
    line-height: 2rem;
}
#stats{
    font-size: 30px;
    text-decoration:underline wheat ;
    text-shadow: 1px 1px 2px darkgray;
}
main ul li p{
    display: inline-block;
}
#up{
    background-color: rgb(112, 51, 27);
    color: wheat;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    box-shadow: 0 0 8px wheat;
}
textarea{
    background-color: darkgray;
    border:3px solid rgb(240, 231, 185);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    max-width: 80%;
}
article{
    background-color: rgb(88, 86, 80);
    border-radius: 25px;
    max-width: 80%;
}
.button{
    margin: 8px;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 5px 5px 10px black;
}

span{
    margin-left: 30px;
    display: inline-block;
    padding: 20px;
    color: lightblack;
    font-weight: bolder;
    background-color: papayawhip;
    border-radius: 25px;
    font-size: larger;
    box-shadow: 5px 5px 10px black;

}