body{
    background-color: rgb(41, 32, 32);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-size: x-large;
    color: antiquewhite;
    font-weight: lighter;
    text-shadow: 1px 1px 2px darkgray;
}
#name{
    display: flex;
    font-size: xx-large;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
ul li{
    font-weight: lighter;
    font-size: 20px;
    color: beige;
    line-height: 2rem;
}
#stats{
    font-size: 30px;
    text-decoration:underline wheat ;
    text-shadow: 1px 1px 2px darkgray;
}
main ul li p{
    display: inline-block;
}
#up, button{
    background-color: rgb(112, 51, 27);
    color: wheat;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    box-shadow: 0 0 8px wheat;
}
textarea{
    background-color: darkgray;
    border:3px solid rgb(240, 231, 185);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    max-width: 80%;
}
article{
    background-color: rgb(88, 86, 80);
    border-radius: 25px;
  
}
.button{
    margin: 8px;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 5px 5px 10px black;
}

article span{
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
    padding: 10px;
    color: lightblack;
    font-weight: bolder;
    background-color: papayawhip;
    border-radius: 50px;
    font-size: larger;
    box-shadow: 5px 5px 10px black;

}
.hide{
    display: none;
}
aside h2{
    margin-right: 10px;
}
aside button{
    margin: 3px;
    background-color: rgb(112, 51, 27);
    color: wheat;
    border-radius: 15px;
    font-size: 15px;
    box-shadow: 2px 2px 3px wheat;
}

@media screen and (max-width: 380px) {
    article{
        display: flex;
        flex-wrap: wrap;
    }
    .button{
        font-size: smaller;
        padding: 8px;
        margin: 2px;
    }
    article span{
        font-size: smaller;
        margin-left: 1px;
    }
}
@media screen and (max-width: 325px) {
    article{
        display: flex;
        flex-wrap: nowrap;
    }
    
}